<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Property and Amenities Details</title>
  <style>
    body {
      font-family: 'Arial', sans-serif;
      margin: 20px;
      padding: 20px;
    }

    h1, h2 {
      color: #333;
    }

    p {
      margin-bottom: 10px;
    }

    .property-details {
      margin-top: 10px;
    }

    .rating {
      color: #f39c12;
    }

    .amenities-list {
      list-style: none;
      padding: 0;
    }

    .amenities-list li {
      margin-bottom: 5px;
    }

  </style>
</head>
<body>

  <h1>Property Details</h1>
  <div class="property-details">
  <p><strong>View Property On Website:</strong> <a href="http://localhost:3000/property/<%= property.id %>">Click here</a></p>
  <p><strong>Name:</strong> <%= property.name %></p>
    <p><strong>Location:</strong> <%= property.location %></p>
    <p><strong>Property Status:</strong> <%= property.property_status %></p>
    <p><strong>Overview:</strong> <%= property.property_overview %></p>
    <p><strong>Number of Bedrooms:</strong> <%= property.number_of_bedrooms %></p>
    <p><strong>Number of Bathrooms:</strong> <%= property.number_of_bathrooms %></p>
    <p><strong>Ratings:</strong>
      <% stars = property.ratings.to_i %>
      <% (1..5).each do |i| %>
        <% if i <= stars %>
          <span class="rating">★</span>
        <% else %>
          ☆
        <% end %>
      <% end %>
      <%= property.ratings %>
    </p>
    <p><strong>Furnishing:</strong> <%= property.furnishing %></p>
    <% if property.size.present? %>
    <p><strong>Size:</strong> <%= property.size %> sq. ft</p>
  <% end %>
      <p><strong>Price:</strong> GHS <%= number_to_currency(property.price, unit: '') %></p>
  </div>

  <h2>Amenities</h2>
  <% if amenities.present? && amenities != {} %>
    <ul class="amenities-list">
        <% if amenities.fully_fitted_kitchen %>
          <li>Fully Fitted Kitchen</li>
        <% end %>

        <% if amenities.furnishing %>
          <li>Furnishing</li>
        <% end %>

        <% if amenities.standby_generator %>
          <li>Standby Generator</li>
        <% end %>

        <% if amenities.internet_connectivity %>
          <li>Internet Connectivity</li>
        <% end %>

        <% if amenities.ac_rooms %>
          <li>Air Conditioned Rooms</li>
        <% end %>

        <% if amenities.refridgerator %>
          <li>Refrigerator</li>
        <% end %>

        <% if amenities.cctv_camera %>
          <li>CCTV Camera</li>
        <% end %>

        <% if amenities.washroom %>
          <li>Washroom</li>
        <% end %>

        <% if amenities.security_service %>
          <li>Security Service</li>
        <% end %>

        <% if amenities.tv %>
          <li>Television</li>
        <% end %>

        <% if amenities.gym %>
          <li>Gym</li>
        <% end %>

        <% if amenities.others.present? %>
        <li>Other Amenities:
          <ul>
            <% amenities.others.each do |other_amenity| %>
              <li><%= other_amenity %></li>
            <% end %>
          </ul>
        </li>
      
      <% end %>
    </ul>
  <% else %>
    <p>No amenities available for this property.</p>
  <% end %>

  <h2>Images</h2>
  <% if image_urls.present? %>
    <div class="gallery">
      <% image_urls.each do |url| %>
        <%= wicked_pdf_image_tag image_url(url), width: '800px', height: '500px' %>
      <% end %>
    </div>
  <% else %>
    <p class="no-images">No images available for this property.</p>
  <% end %>
  
  
  
  
  

</body>
</html>
